<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotels" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHotels" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfHotels/GetHotels/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotels"
                contract="ServiceReference1.IHotels" name="BasicHttpBinding_IHotels" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfHotels/GetHotels/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotels"
                contract="ServiceReference1.IHotels" name="WSHttpBinding_IHotels">
                <identity>
                    <userPrincipalName value="pvashisht@internal.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>